@{
    ViewData["Title"] = "Confirmado!";
}
<section class="container py-5 text-center">
    <h2 class="mb-4 text-success fw-bold text-3xl">Agendamento realizado com sucesso!</h2>
    <p class="lead">Você receberá um e-mail com a confirmação em breve.</p>
    <a href="/" class="btn btn-dark mt-4 rounded-pill px-4 py-2 fw-semibold">Voltar para o Início</a>
</section>
